<div #root class="app-button" (click)="onClick()">
    <button *ngIf="!isFab" [disabled]="isDisabled" mdc-button>
        <ng-content></ng-content>
    </button>

    <button *ngIf="isFab" [disabled]="isDisabled" mdc-fab>
        <ng-content></ng-content>
    </button>
</div>