.image--container {
    position: relative;
    width: 100%;
    height: 100%;

    img {
        display: block;
        position: absolute;
        overflow: hidden;
        border-radius: 4px;
        height: 100%;
    }

    .image--round {
        border-radius: 50%;
    }
}